*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: rgb(73, 170, 244);
  --primaryDimmed: hsl(206, 89%, 55%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  padding-top: 5rem;
}

header {
  background: var(--primary);
  width: 100vw;
  height: 5rem;
  flex-direction: rows;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 3.5rem;
}

.clickable {
  cursor: pointer;
}

.loading {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}
