*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: rgb(73, 170, 244);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  background: var(--primary);
  width: 100vw;
  height: 5rem;
  flex-direction: rows;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 3.5rem;
}
